<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Mark2Clip</title>

  <meta property="og:title" content="Mark2Clip" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Lightweight markup to other clipping service" />
  <meta property="og:url" content="http://www.mark2clip.com" />
  <meta property="og:image" content="http://www.mark2clip.com/assets/logo.png" />
  <meta property="og:site_name" content="Mark2Clip" />
  <meta property="og:locale" content="ja" />

  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="container">
  <h1>Mark2Clip</h1>
  <p class="text-muted">Lightweight markup to other clipping service</p>
</header>

<%= yield %>

<footer class="container">

  <div class="clearfix">
    <ul class="social-button pull-right">
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.mark2clip.com">Tweet</a>
      </li>
      <li>
        <div class="g-plusone" data-size="medium" data-href="http://www.mark2clip.com"></div>
      </li>
      <li>
        <div class="fb-like" data-href="http://www.mark2clip.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
      </li>
    </ul>
  </div>

  <address class="pull-left">&copy; 2014 www.mark2clip.com</address>

  <ul id="author" class="pull-right">
    <li><a href="//github.com/c2nprds">@c2nprds</a></li>
    <li><a href="//github.com/dakatsuka">@dakatsuka</a></li>
    <li><a href="//github.com/dcurtis/markdown-mark">@dcurtis/markdown-mark</a></li>
  </ul>
</footer>


<%# Facebook Like %>
<div id="fb-root"></div>
<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=1461555067399045&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

<%# Twitter Share %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<%# Google+ %>
<script type="text/javascript">(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/platform.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>

<%# Google Analytics %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50989619-1', 'mark2clip.com');
  ga('send', 'pageview');
</script>
</body>
</html>
